<!DOCTYPE html>
<html>
<head>
	<title>MOOC exercise</title>

	<link rel="stylesheet" href="../stylesheets/style.css">
	<script type="text/javascript" src="../javascript/d3.min.js"></script>
	<script type="text/javascript" src="../javascript/d3script.js"></script>
</head>

<body>
<div class="wrapper">
	<div class="titlebox">
		<div class="title">
			<h1>Who's buying what?</h1>
		</div>
	
		<div class="intro">
			<p>A look at where people around the world are directing some of their purchasing power.</p>
			<p> Click on one of the categories to see data over all countries or on a country for country-specific info.</p>
			<p class="source"><e>SOURCE</e> Euromonitor International</p>
		</div>
	</div>
	
	<div class="container">
	</div>
	<div class="buttons">
	</div>
</div>
</body></html>